# Notes:
# NDP PROD Nautilus namespace: ndp
# Install client-secret k8s secret (need to insert it in the file ndp-hub/my_secret.yaml): kubectl create secret generic jupyterhub-secret --from-file=values.yaml=ndp-hub/my_secret.yaml -n ndp-staging
# Install from ./helm folder: helm upgrade --cleanup-on-fail --install ndp-hub ndp-hub --kube-context nautilus --namespace ndp --values ndp-hub/values_prod.yaml
# Uninstall: helm uninstall ndp-hub --kube-context nautilus --namespace ndp
# URL: ndp-jupyterhub.nrp-nautilus.io

jupyterhub:
  hub:
    image:
      name: gitlab-registry.nrp-nautilus.io/ndp/ndp-docker-images/jh
      tag: "2.0.11"
    extraEnv:
      JUPYTERHUB_METRICS_API_KEY: a81e4f556c8f414df20e6294543451fc
    existingSecret: jupyterhub-secret
    config:
      GenericOAuthenticator:
        # oauth_callback_url: https://ndp-jupyterhub.nrp-nautilus.io/hub/oauth_callback
        # authorize_url: https://idp.nationaldataplatform.org/realms/NDP/protocol/openid-connect/auth
        # token_url: https://idp.nationaldataplatform.org/realms/NDP/protocol/openid-connect/token
        # userdata_url: https://idp.nationaldataplatform.org/realms/NDP/protocol/openid-connect/userinfo
        # logout_redirect_url: https://idp.nationaldataplatform.org/realms/NDP/protocol/openid-connect/logout?redirect_uri=https://ndp-jupyterhub.nrp-nautilus.io/
        oauth_callback_url: http://a49496f7fa9a34ba4a1b8b193ed3ff95-872419998.us-west-2.elb.amazonaws.com/hub/oauth_callback
        authorize_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/auth
        token_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/token
        userdata_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/userinfo
        logout_redirect_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/logout?redirect_uri=http://a49496f7fa9a34ba4a1b8b193ed3ff95-872419998.us-west-2.elb.amazonaws.com
        login_service: keycloak
        username_claim: preferred_username
        userdata_params:
          state: state
        allow_all: False
        allowed_groups: ["jhub_user"]
        auto_login: True
        enable_auth_state: True
        admin_users: [ "yutian.qin@utah.edu" ]
        scope:
          - openid
          - profile
      JupyterHub:
        authenticator_class: generic-oauth
    service:
      type: ClusterIP
      annotations: {}
      ports:
        nodePort:
      loadBalancerIP:
    deploymentStrategy:
      type: Recreate
    db:
      type: sqlite-pvc
      pvc:
        accessModes:
          - ReadWriteOnce
        storage: 10Gi
        # storageClassName: rook-ceph-block
        storageClassName: gp2
    resources:
      limits:
        cpu: "2"
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 512Mi
    networkPolicy:
      enabled: false
# Commenting this out because new hub docker image has templates and pics inside it
#    initContainers:
#      - name: git-clone-templates
#        image: alpine/git
#        args:
#          - clone
#          - --single-branch
#          - --branch=main
#          - --depth=1
#          - --
#          - https://github.com/national-data-platform/jupyter-templates.git
#          - /etc/jupyterhub/custom
#        securityContext:
#          runAsUser: 0
#        volumeMounts:
#          - name: custom-templates
#            mountPath: /etc/jupyterhub/custom
#    extraVolumes:
#      - name: custom-templates
#        emptyDir: { }
#    extraVolumeMounts:
#      - name: custom-templates
#        mountPath: /etc/jupyterhub/custom
    extraConfig:

      default.py: |
# spawner_prod.py code here

  proxy:
    secretToken: 1cf9eface1096f44768422be87da41bbae87fabf05b80156c61f644b0cf23f51
    service:
      type: ClusterIP
    chp:
      resources:
        limits:
          cpu: "2"
          memory: 1Gi
        requests:
          cpu: 200m
          memory: 512Mi

  singleuser:
    uid: 1000
    fsGid: 100
    allowPrivilegeEscalation: true
    extraPodConfig:
      securityContext:
          fsGroupChangePolicy: "OnRootMismatch"
    cloudMetadata:
      blockWithIptables: false
    networkPolicy:
      enabled: false
      
    initContainers:
    - name: volume-permissions
      image: busybox
      command: ["sh", "-c", "chmod 777 -R /home/jovyan/work/_User-Persistent-Storage_CephBlock_"]
      volumeMounts:
        - mountPath: /home/jovyan/work/_User-Persistent-Storage_CephBlock_
          name: volume-ceph-bw-{username}
    storage:
      extraLabels: {}
      capacity: 10Gi
      homeMountPath: /home/jovyan/work/_User-Persistent-Storage_CephBlock_
      dynamic:
        # storageClass: rook-ceph-block
        storageClass: gp2
        pvcNameTemplate: claim-ceph-bw-{username}
        volumeNameTemplate: volume-ceph-bw-{username}
        storageAccessModes: [ReadWriteOnce]

    image:
      name: gitlab-registry.nrp-nautilus.io/ndp/ndp-docker-images/jhub-spawn
      tag: minimal_0.0.10
    startTimeout: 1200
    cpu:
      limit: 3
      guarantee: 3
    memory:
      limit: 32G
      guarantee: 32G
    extraResource:
      limits: {}
      guarantees: {}
    cmd: jupyterhub-singleuser
    defaultUrl: "/lab"

  scheduling:
    userScheduler:
      enabled: false
    userPlaceholder:
      enabled: false
  # prePuller relates to the hook|continuous-image-puller DaemonsSets
  prePuller:
    hook:
      enabled: false
    continuous:
      enabled: false

  # ingress:
  #   enabled: true
  #   annotations:
  #     kubernetes.io/ingress.class: haproxy
  #   hosts: ["ndp-jupyterhub.nrp-nautilus.io"]
  #   pathSuffix: ''
  #   tls:
  #     - hosts:
  #       - ndp-jupyterhub.nrp-nautilus.io
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts: []
    tls: []

  cull:
    enabled: true
    users: false
    removeNamedServers: false
    timeout: 3600
    every: 600
    concurrency: 10
    maxAge: 0