[submodule "ckan-helm"]
	path = ckan-helm
	url = git@github.com:sci-ndp/ckan-helm.git
	branch = master
[submodule "ndp-jupyterhub"]
	path = ndp-jupyterhub
	url = https://github.com/national-data-platform/ndp-jupyterhub.git
	branch = central-var
