# kafka-values.yaml
replicaCount: 3

persistence:
  enabled: true
  storageClassName: "gp2"
  size: 8Gi

service:
  type: ClusterIP

externalAccess:
  enabled: false

listeners:
  client:
    name: CLIENT
    protocol: PLAINTEXT
    containerPort: 9092
  controller:
    name: CONTROLLER
    protocol: PLAINTEXT
    containerPort: 9093
  external:
    name: EXTERNAL
    protocol: PLAINTEXT
    containerPort: 9094

advertisedListeners:
  client: "kafka-controller-{0..2}.kafka-controller-headless.default.svc.cluster.local:9092"
  controller: "kafka-controller-{0..2}.kafka-controller-headless.default.svc.cluster.local:9093"
  external: "a6516883a36e24da89bad28a512334b1-1275126305.us-west-2.elb.amazonaws.com:9094"

extraEnvVars:
  - name: KAFKA_CFG_PROCESS_ROLES
    value: "broker,controller"
  - name: KAFKA_CFG_CONTROLLER_LISTENER_NAMES
    value: "CONTROLLER"
  - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
    value: "CONTROLLER:PLAINTEXT,CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT"
  - name: KAFKA_CFG_ADVERTISED_LISTENERS
    value: "CLIENT://kafka-controller-{0..2}.kafka-controller-headless.default.svc.cluster.local:9092,EXTERNAL://a6516883a36e24da89bad28a512334b1-1275126305.us-west-2.elb.amazonaws.com:9094"
  - name: KAFKA_CFG_SASL_ENABLED_MECHANISMS
    value: ""
  - name: KAFKA_CFG_INTER_BROKER_LISTENER_NAME
    value: "CONTROLLER"
  - name: KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL
    value: ""
  - name: KAFKA_CFG_SASL_MECHANISM_CONTROLLER_PROTOCOL
    value: ""

kraft:
  clusterId: "vKaEBaltQuqktgAA3wkccA"
  controllerQuorumVoters: "0@kafka-controller-0.kafka-controller-headless.default.svc.cluster.local:9093,1@kafka-controller-1.kafka-controller-headless.default.svc.cluster.local:9093,2@kafka-controller-2.kafka-controller-headless.default.svc.cluster.local:9093"

resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "1000m"