apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ndp-ep

resources:
  - ../../base
  - namespace.yaml

patches:
  - target:
      kind: Ingress
      name: ndp-ep-api-ingress
    path: ingress-patch.yaml

images:
  - name: rbardaji/ndp-ep-api
    newTag: latest

# define root path config map and use it to patch ingress path
configMapGenerator:
  - name: root-path-cm
    literals:
      - ROOT_PATH=/api
replacements:
  - source:
      kind: ConfigMap
      name: root-path-cm
      fieldPath: data.ROOT_PATH
    targets:
      - select:
          kind: Ingress
          name: ndp-ep-api-ingress
        fieldPaths:
          - spec.rules.[host=].http.paths.[path=/].path

secretGenerator:
  - name: ndp-ep-env-secret
    options:
      disableNameSuffixHash: true
    envs:
      - ndp-ep-env-secret.env
