apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ep-frontend

resources:
  - ../../base
  - namespace.yaml

patches:
  - target:
      kind: Ingress
      name: ndp-ep-frontend-ingress
    path: ingress-patch.yaml
  - target:
      kind: Deployment
      name: ndp-ep-frontend
    path: deployment-patch.yaml
    
images:
  - name: rbardaji/ndp-ep-frontend
    newTag: latest

# define config map for passing NDP-EP-API URL env variable to frontend container
configMapGenerator:
  - name: api-addr-cm
    literals:
      - NDP_EP_API=https://ndp-dev-202.chpc.utah.edu/api
      
