apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ep-frontend-dev

resources:
  - ../../base
  - namespace.yaml

patches:
  - target:
      kind: Ingress
      name: ndp-ep-frontend-ingress
    path: ingress-patch.yaml
  - target:
      kind: Deployment
      name: ndp-ep-frontend
    path: deployment-patch.yaml

images:
  - name: rbardaji/ndp-ep-frontend
    newTag: 1.3.0-alpha.2

# define config map for passing NDP-EP-API URL env variable to frontend container
configMapGenerator:
  - name: api-addr-cm
    literals:
      # - REACT_APP_API_BASE_URL=http://ndp-test-210.chpc.utah.edu/api/dev
      # - NDP_EP_API=http://ndp-ep-api-service.ndp-ep-dev.svc.cluster.local:8003
      - NDP_EP_API=http://ndp-test-210.chpc.utah.edu/api/dev
      
