# kubectl create secret generic jupyterhub-secret \
#   --from-file=values.yaml=secret.yaml \
#   -n jupyterhub
hub:
  config:
    GenericOAuthenticator:
      client_id: jhub-k8s
      client_secret: zxWTNorm4SKBZPZKrfvjBvTUglVhENP4