# Simplified Helm values for JupyterHub with Keycloak login
# Install: helm upgrade --cleanup-on-fail --install scidx-jhub scidx-jhub --kube-context nautilus --namespace ndp --values values.yaml
# Uninstall: helm uninstall scidx-jhub --kube-context nautilus --namespace ndp

jupyterhub:
  hub:
    image:
      name: gitlab-registry.nrp-nautilus.io/ndp/ndp-docker-images/jh
      tag: "2.0.11"
    extraEnv:
      JUPYTERHUB_CRYPT_KEY: "a81e4f556c8f414df20e6294543451fc"  # Secure key for encryption
    existingSecret: jupyterhub-secret
    config:
      GenericOAuthenticator:
        oauth_callback_url: http://a49496f7fa9a34ba4a1b8b193ed3ff95-872419998.us-west-2.elb.amazonaws.com/hub/oauth_callback
        authorize_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/auth
        token_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/token
        userdata_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/userinfo
        logout_redirect_url: https://idp-test.nationaldataplatform.org/realms/NDP/protocol/openid-connect/logout?redirect_uri=http://a49496f7fa9a34ba4a1b8b193ed3ff95-872419998.us-west-2.elb.amazonaws.com/hub/spawn
        login_service: keycloak
        username_claim: preferred_username
        userdata_params:
          state: state
        allow_all: False
        allowed_groups: ["jhub_user"]
        auto_login: True
        enable_auth_state: True
        admin_users: ["yutian.qin@utah.edu"]
        scope:
          - openid
          - profile
          - offline_access
      JupyterHub:
        authenticator_class: generic-oauth
    db:
      type: sqlite-pvc
      pvc:
        accessModes:
          - ReadWriteOnce
        storage: 1Gi
        storageClassName: gp2
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
    networkPolicy:
      enabled: false
    extraConfig:
      spawner.py: |
# spawner.py code here

  proxy:
    secretToken: "693f72d455485b0a90a27968685e08e006523320e914f07b1f15fc4e8487d6fd"
    service:
      type: ClusterIP
    chp:
      resources:
        requests:
          cpu: 200m
          memory: 512Mi

  singleuser:
    image:
      name: gitlab-registry.nrp-nautilus.io/ndp/ndp-docker-images/jhub-spawn
      tag: minimal_0.0.10
    startTimeout: 300
    cpu:
      limit: 1
      guarantee: 0.5
    memory:
      limit: 1G
      guarantee: 512M
    defaultUrl: "/lab"
  
  scheduling:
    userScheduler:
      enabled: false
    userPlaceholder:
      enabled: false
  # prePuller relates to the hook|continuous-image-puller DaemonsSets
  prePuller:
    hook:
      enabled: false
    continuous:
      enabled: false

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx  # Use NGINX Ingress Controller
    hosts: []
    tls: []  # Disable TLS since there's no DNS name

  cull:
    enabled: true
    timeout: 3600
    every: 600